{% extends "layout.html" %}
{% block content %}

<h2 class="mb-4">Explore Memes</h2>

<div class="row mb-3">
  <div class="col">
    <a href="/category/Funny" class="btn btn-sm btn-outline-info">Funny</a>
    <a href="/category/Animals" class="btn btn-sm btn-outline-info">Animals</a>
    <a href="/category/Tech" class="btn btn-sm btn-outline-info">Tech</a>
    <a href="/category/Classic" class="btn btn-sm btn-outline-info">Classic</a>
  </div>
</div>

<div class="row">

{% for meme in memes %}
  <div class="col-md-4 mb-4">
    <div class="glass card-hover">

      <img src="{{ meme.image_url }}" class="img-fluid mb-3 rounded">

      <h5>{{ meme.title }}</h5>
      <p class="text-light small">{{ meme.description }}</p>

      
      <div>
        {% for tag in meme.tags %}
          <span class="badge bg-info text-dark">#{{ tag }}</span>
        {% endfor %}
      </div>
      <p class="text-muted">
        ❤️ {{ meme.likes }} &nbsp; 👁️ {{ meme.views }}
      </p>

      <a href="/like/{{ meme.meme_id }}" class="btn btn-sm btn-danger">
        <i class="bi bi-heart-fill"></i> Like
      </a>
      <a href="/download/{{ meme.meme_id }}" class="btn btn-sm btn-success">
        ⬇ Download
      </a>


    </div>
  </div>
{% endfor %}

</div>

{% endblock %}
