{% extends "layout.html" %}
{% block content %}

<div class="row justify-content-center">
  <div class="col-md-6 glass">

    <h3 class="mb-3">Upload Meme</h3>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}


    <form method="post" enctype="multipart/form-data">

      <input class="form-control mb-2" name="title" placeholder="Meme title" required>

      <textarea class="form-control mb-2" name="description" placeholder="Meme description"></textarea>

      <select class="form-select mb-2" name="category" required>
        <option>Funny</option>
        <option>Wholesome</option>
        <option>Dank</option>
        <option>Relatable</option>
        <option>Cringe</option>
        <option>Cursed</option>
        <option>Classic</option>
        <option>Animals</option>
        <option>Tech</option>
      </select>

      <input class="form-control mb-2" name="tags" placeholder="Tags (comma separated)">


      <input class="form-control mb-3" type="file" name="meme" required>

      <button class="btn btn-success w-100">
        🚀 Upload Meme
      </button>

    </form>

  </div>
</div>

{% endblock %}
